<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-OM9G64Sfb1qejmH6Z/j0dx9n4MQGhU6XR0z9+pQkfiE1r7NOMC4fEoU1M8+GDV5b" crossorigin="anonymous">

    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
